/.metadata
/.mvn
/.recommenders
/.settings/
/target/
/hackystat-8.4.127-services-bin/
/ucdetector_reports/
/de.setsoftware.reviewtool.changesources.git.tests/*.cache
/.idea
.gradle/
build/
/reviewtool-core/*.cache
reviewtool-core/build/
reviewtool-intellij/build/
reviewtool-intellij/.intellijPlatform/
